@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
    body {
        background-color: #222831;
        color: white;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
    }

        #app {max-width: 1396px;margin:0 auto}
            a {
                color: white;
                text-decoration: none;
            }
            #navbar {
                display: flex;
                height: 200px;
                border-bottom: 1px solid rgba(238, 238, 238, 0.10);
               
                
            }
                #navbar .logo:hover,
                #navbar .nav-header li:hover{
                    transform: scale(1.1);
                    transition: 0.8s;
                }
                
                .logo-header {
                    width: 40%;
                    align-self: center;
                }
                    .logo{
                        font-family: Oswald;
                        font-weight: 900;
                        padding: 0 20%;
                        font-size: 26px;  
                    }
                
                .nav-header{
                    width: 60%;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    border-left: 1px solid rgba(238, 238, 238, 0.10);  
                    padding-left: 10px;
                    height: 100%;
                }
                    .nav-header li{
                        display: inline-flex;
                        padding: 0 30px;
                    }
                
            



            #header {
                display: flex;
                
            }
                .item-1 {
                    width: 40%;
                    position: relative;
                    z-index: 3;
                }
                    .overflow {
                        position: relative;
                    }
                    .over-item-1{
                        z-index: 1;
                        display: grid;
                        grid-template-areas: "icone h1"
                                            "icone h2"
                                            "icone btn";
                        margin-top: 200px;
                        padding-left: 80px;  
                    }
                    .over-item-1 .arrow-spin {grid-area: icone;}
                    .over-item-1 .first-h1{grid-area: h1;}
                    .over-item-1 .second-h1{grid-area: h2;}
                    .over-item-1 .nav-btn {grid-area: btn;}
                    
                    .arrow-spin{
                        height: 80%;
                        margin: 50px 10px 0 0px ;
                    }
                    .item-1 h1{
                        text-transform: uppercase;
                    }
                    .h1-principal{
                        white-space: nowrap;
                        color: #EEE;
                        font-family: Poppins;
                        font-size: 94px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 65px; 
                    }
                    .item-1 h1:nth-child(3) {
                        color: #00ADB5;
                    
                    }
                    .nav-btn{
                        padding-top: 40px;
                    }
                    #download-cv{
                        background-color: rgba(57, 62, 70, 0.75) !important;
                        display: flex;
                    }
                    #download-cv img {
                        margin-left: 8px;
                    }
                    .item-1 nav li{
                        display: inline-block;
                        height: 30px;
                    }
                    .item-1 nav li:hover{
                        transform:translateY(-10px);
                        transition: 0.8s;
                    }
                    .item-1 nav ul li a{
                        padding: 10px 30px;
                        background-color: #00ADB5 !important;
                        border-radius: 50px;
                        font-size: bolder;
                        margin: 10px;
                        color: #EEE;
                        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
                        font-family: Poppins;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
                    .btn-down{
                        margin: 40% 0 0 0  ;
                        border-right: 1px solid rgba(238, 238, 238, 0.10);  
                        
                    }
                    .btn-down .btn-1{
                        display: flex;
                        justify-content:end;
                        width: 108%;
                        margin: 0;
                        padding: 0;
                    }
                    .btn-1 a:hover {
                        transform: translateY(20px);
                        transition: 0.8s;
                    }

                .item-2 {
                    display: flex;
                    justify-content: end;
                    width: 60%;
                    position: relative;
                    z-index: 2;
                    border-left: 1px solid rgba(238, 238, 238, 0.10);  
                    padding-top: 50px; 
                    padding-right: 80px;
                }
              
                
                
            
              


            .aboutme {
                display: flex;
                border-bottom: 1px solid rgba(238, 238, 238, 0.10);  
            }
                .aboutme-item-1 {
                    width:40%;
                    position: relative;
                    border-right: 1px solid rgba(238, 238, 238, 0.10);
                    padding: 20px;
                }
                    .about-me-img {
                        display: flex;
                        align-items: center;
                        align-content: center;
                        justify-content: center;
                        
                        height: 110%;
                    }
                        .aboutme-icon{
                            position: absolute;
                            z-index: 1;
                        }
                    .texts{
                        z-index:2;
                    }
                        .texts h1{
                            color: #EEE;
                            font-family: Poppins;
                            font-size: 64px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            width: auto;
                            display: flex;
                            
                        }
                        .me {
                            padding-left: 10px;
                            color: #00ADB5 !important;
                        }
                        .content-add {
                            display: none;
                        }
                        .btn-read {
                            background-color: rgba(0,0,0,.0);
                            border: 0;
                            color: white;
                            font-size: 17px;
                            padding: 4px 0;
                            z-index: 1;
                        
                            cursor: pointer;
                            font-weight: 800;
                        }
                        .less {
                            display: none;
                        }

                .aboutme-item-2 {
                    width: 60%;
                    position: relative;
                    padding: 150px;
                }


            .divisoria {
                display: flex;
                flex-direction: row;
                height: 10vh;
                }
                .div-1 {
                    border-right: 1px solid rgba(238, 238, 238, 0.10);
                    width: 40%;
                }
                .div-1 h1, 
                .div-2 h1{
                    display: none;
                }
               

            .recent-works {
                grid-area: recent;
                background-image: url(images/bg-recent-works.svg);
                background-position: bottom;
                display: flex;
                flex-direction: column;
                padding: 180px 70px;
                z-index: 1;
                
            
            }
                .recent-works h1{
                    color: #EEE;
                    font-family: Poppins;
                    font-size: 64px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
                .recent-works nav ul li{
                    display: inline-block; 
                    padding: 0 20px;
                    cursor: pointer;
                }
                .blue {
                    color: #00ADB5;
                }
                .active {
                    background-color: #00ADB5 !important ;
                }
                .services-category li{
                    border-radius: 24px;
                    background: rgba(57, 62, 70, 0.50);
                    backdrop-filter: blur(4px);
                    padding: 12px 32px!important;
                    margin-right: 15px;
                }
                .services-category {
                    padding: 35px 0;
                }
                .services-images {
                    padding: 35px 0;
                }
                .services-images ul li img{
                    width: 300px;
                }
                .services-images ul li img:hover {
                    transform: scale(1.5);
                    margin:  50px;
                    transition: 1s ease;
                }
            .form{
                display: flex;
                flex-direction: row;
                font-family: Poppins;
                border-bottom: 1px solid rgba(238, 238, 238, 0.10);
            }
                .form-1{
                    width: 40%;
                    padding: 200px 0 0 20px;
                    border-right: 1px solid rgba(238, 238, 238, 0.10);
                }
                    .form-1 h1{
                        color: #EEE;
                        font-family: Poppins;
                        font-size: 64px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 80px; 
                    }
                    .form-1 img{
                        margin: 0 0 0 165px;
                    }


                .form-2{
                    width: 60%;
                    padding: 100px 100px 0 0;
                }
                    .form-2 form{
                        width: 400px;
                        margin: 0 auto;
                        display: grid;
                        grid-template-areas: "name email"
                                            "message message"
                                            "button button";
                    }
                    .name{grid-area:name}
                    .email{grid-area:email}
                    .message{grid-area: message}
                    .button-send{grid-area: button}
                  
                    .form-2 input,
                    .form-2 textarea{
                        margin: 20px 0; 
                        background: rgba(57, 62, 70, 0.50);
                        border-radius: 16px;
                        color: white;
                       
                    }
                    .form-2 .keyboard{
                        padding: 0 0px 40px 260px ;
                    }
                    .form-2 .mail{
                        margin: 80px 0 0 650px;
                    }
                    .form-2 label,
                    .form-2 input::placeholder{
                        color: #EEE;
                        font-family: Poppins;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        
                    }

                    .name{
                        padding: 0 10px 0 0;
                    }
                    .form-2 form input{
                        padding: 20px 15px;
                        width: 100%;
                        border: 0;
                    }
                    .form-2 .message{
                        display: flex;
                        flex-direction: column;
                        
                        
                    }
                        .message textarea{
                            width: 600px;
                            padding: 15px;
                            color: rgba(238, 238, 238, 0.50);
                            font-family: Poppins;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            height: 200px;
                            border: 0;
                        }
                        .button-send button{
                            border-radius: 24px;
                            border: 0;
                            padding: 10px 40px;
                            background: #00ADB5;
                            color: #EEE;
                            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
                            font-family: Poppins;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            cursor: pointer;
                            display: flex;
                            
                        }
                        .button-send button:hover{
                            transform:translateY(-10px);
                            transition: 0.8s;
                            
                        }
            .footer {
                display: flex;
            }
                .footer-1 {
                    width: 40%;
                    
                    border-right: 1px solid rgba(238, 238, 238, 0.10);

                }
                .footer-2 {
                    width: 60%;
                    padding: 100px 0 50px 0;
                    display: flex;
                    flex-direction: column;
                    
                }
                    .footer-2 nav ul li{
                        display: inline-block;
                    }

                    .footer-2 nav ul li:hover{
                        transform: scale(1.1);
                        transition: 0.8s ease;
                    }
                    
                    .footer-nav a{
                        display: flex;
                    }
                    .footer-nav img{
                        padding-right: 20px;
                    }
                    .footer-nav {
                        margin-left: -50px;
                        padding: 20px;
                    }

                    .footer-nav li{
                        color: #EEE;
                        padding-right: 40px;    
                        font-family: Poppins;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;  
                                         
                    }
                    .footer-nav-social{
                        padding: 20px;
                    }
                    .footer-nav-social ul li{
                        padding-right: 40px;
                    }
                    .terms {
                        padding-top: 100px;
                        align-items: end;
                        display: flex;
                        justify-content: end;
                        color: rgba(238, 238, 238, 0.75);
                        font-family: Poppins;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                    .terms a:hover {
                        color: rgba(227, 227, 227, 0.333);
                    }


                   



            /* medias query */
            @media only screen and (max-width: 600px) {
                #navbar {
                    display: flex;
                    flex-direction: column;
                    border-bottom: 1px solid rgba(238, 238, 238, 0.10);
                }
                    #navbar .logo{
                        padding-top: 40px;
                    }
                    #navbar .nav-header{
                        border: none;
                        width: 100%;
                        display: block;
                        margin: 0;
                        padding-top: 20px;
                        padding-left: 0;
                    }
                        #navbar .nav-header ul{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            width: 100%;
                        }
                            #navbar .nav-header ul li {
                                font-size: 18px;
                                width: 100%;
                                justify-content: center;
                                text-align: center;
                            }
                #header {
                    display: flex;
                    flex-direction: column-reverse;
                    border-bottom: 1px solid rgba(238, 238, 238, 0.10);
                }
                    .over-item-1{
                        margin: 50px 0 0 0;
                        padding: 0 0 80px 0;
                        order:2;

                     
                    }
                    .h1-principal {
                        font-size: 40px;
                    }
                    .nav-btn ul li{
                        margin: 10px;
                        width: 100%;
                    }
                    .item-1 {
                        width: 100%;
                    }
                    .btn-down {
                        /* display: none; */
                        border: none;
                        margin: 0;
                        padding: 0;
                        width:100%;
                    }
                    .btn-down .btn-1{
                        justify-content: center;
                        width: 100%;
                    }
                    .item-2 {
                        width: auto;
                        padding: 0;
                        margin: 0;
                        justify-content: center;
                    }
                    .item-2 img {
                        width: 320px;
                    }
                #about-me{
                    display: flex;
                    flex-direction: column-reverse;
                }
                    #about-me .aboutme-item-1{
                        width: 100%;
                        padding: 50px;
                        border: 0;
                    }
                    #about-me .aboutme-item-2 {
                        width: 100%;
                        padding: 20px 0;
                    }
                    #about-me .aboutme-item-2 img{
                        width: 350px;
                    }
                    .aboutme-icon{
                        width: 80%;
                    }
                .divisoria{
                    display:none;
                }
                .recent-works {
                    padding: 100px 20px;
                }
                    .recent-works h1{
                        font-size: 45px;
                    }
                    .recent-works nav ul li{
                        padding: 0;
                    }
                #contact {
                    display: flex;
                    flex-direction: column;
                }
                #contact .form-1,
                #contact .form-2{
                    width: 100%;
                }
                #contact .form-1{
                    display: flex;
                    flex-direction: column-reverse;
                    padding: 50px 20px;
                    border: 0;
                }
                #contact .form-1 img{
                    margin: 0;
                }
                #contact .form-2 {
                    padding: 0;
                }
                #contact .form-2 .keyboard {
                    margin: 0;
                    padding: 0 0 30px 50px;
                }
                #contact .form-2 .mail {
                    margin: 0;
                    padding: 20px 0 20px 250px;
                }
                #contact .form-2 form{
                    display: flex;
                    flex-direction: column;
                    width: auto;
                    padding: 0 20px;
                }
                #contact .form-2 .message textarea {
                    width: 100%;
                }
                #contact .form-2 form button {
                    width: 100%;
                    text-align: center;
                    display: flex;
                    justify-content: center;

                }
                .footer{
                    display: flex;
                    flex-direction: column;
                }
                    .footer .footer-2 {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        padding: 20px 0 0 0;
                    }
                    .footer .footer-2 .footer-nav{
                        margin: 0;
                    }
                    .footer .footer-2 .footer-nav ul li{
                        padding: 10px;
                    }
                    .footer .footer-2 .footer-nav-social{
                        padding: 10px;
                        justify-content: center;
                        display: flex;
                    }
                    .footer .footer-2 .footer-nav-social ul li{
                        padding: 10px;
                    }
                    .footer .terms{
                        display: flex;
                        padding: 20px 0 0 0;
                        margin: 0;
                        justify-content: center;
                    }
            }
